[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/api/forms"
  to = "https://script.google.com/macros/s/AKfycbx2Fsh99stzLJkQOzRYQEJFeRKsW-IXnKpd2yxuIohWrkKZNjznbE99Z7prLx1Jw0Plhw/exec"
  status = 200
  force = true

# Optional: basic security and caching headers
[[headers]]
  for = "/assets/img/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/assets/css/*"
  [headers.values]
    Cache-Control = "public, max-age=600, must-revalidate"

[[headers]]
  for = "/assets/js/*"
  [headers.values]
    Cache-Control = "public, max-age=600, must-revalidate"

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
